[Unit]
Description = WAII
After=local-fs.target network.target
ConditionPathExists=/usr/bin

[Service]
ExecStart=/usr/bin/waii/start.sh
WorkingDirectory=/usr/bin/waii
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

