#MACHINE ??= "h3ulcb"
#DL_DIR = ''
#SSTATE_DIR = ''

DISTRO = "poky-tiny-busybox"
PACKAGE_CLASSES ?= "package_rpm"
INITRAMFS_IMAGE_BUNDLE = '1'
INITRAMFS_IMAGE = 'core-image-busybox'
EXTRA_IMAGE_FEATURES = 'debug-tweaks'
IMAGE_INSTALL:append = ' xz'

