[Unit]
Description = Simple Video Streaming Application
After=local-fs.target network.target
PartOf=waii.target
ConditionPathExists=/usr/bin

[Service]
Environment=PORT=5999
ExecStart=python3 /usr/bin/simple-video-streaming/server.py
WorkingDirectory=/usr/bin/simple-video-streaming
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

